<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous">Home</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/cube">Cube</a></li>
                <li><a href="/square">Square </a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>