<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/head.ejs %>
</head>

<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>NodeJS web app using Express & ejs & Bootstrap CSS</h1>
            <h2>Also Using JS Unit testing and test coverage for common JS modules</h2>
        </div>
    </main>

    <footer>
        <%include ../partials/footer.ejs %>
    </footer>

</body>



</html>